<div class="landing-container">
  <header
    class="header"
    style="background-image: url('../assets/image.jpeg'); background-size: cover; background-position: center;"
  >
    <img
      style="position: absolute; top: 0; left: 0; margin: 10px"
      src="../assets/logo.png"
      alt="Logo"
      class="logo"
    />
    <div class="center" style="text-align: center;">
      <h1>LOREM IPSUM DOLOR</h1>
      <hr class="bold-line" />
      <p>
        Lorem ipsum dolor sit amet. Te dicam facilisi mei, Et malis mundi.
        <br />
        Epicurei platonem salutandi mea eu
      </p>
    </div>

    <button class="scroll-to-bottom-button" (click)="scrollToBottom()">
      <mat-icon>arrow_drop_down_circle</mat-icon>
    </button>
  </header>
  <main class="main-content"></main>
  <footer class="footer">
    <hr class="footer-line" />
    <div class="copyright">&copy; 2023 Naasir. All rights reserved.</div>
  </footer>
</div>
